extends layout
block content
 body
    #wrapper
      #callout
        p
          b Call us at 12345678
        p
          b caple street,dublin 1 
      #div1
        header
          a(href='#')
        

      h1#myId About us
      h1
        img#myId(src='x.jpg', alt='this is a pic', width='30%', height='20%')
        br
        button#show click for more info of our shop
        br
        button#hide go away
        p#dog
          |  NCI makeup shop is a brand new beauty shop that has just opened in North Dublin city center.
          | We have many experts in all your beauty needs and wants.
          | We are happy to welcome any new customers to our make up shop and we offer a loyalty card for all those who come.
        br
        
        img#myId(src='iml.jpg', alt='this is a pic', width='30%', height='20%')
        br
        button#show1 click for more info of our shop
        br
        button#hide1 go away
        p#cat
          | we do have professional make up services which can take care of all your beauty needs.
          | We also sell many beauty products which you can browse in the store.
       


