extends layout
block content
 .row
      .holder
        .large
          h1 GLITTER
          h2 EYE
        .normal 
          h1 BUNDLES
          h2 LIP
        .normal2
          h1 BRUSHEES
          h2 FACE
        .normal3
          h1 FUTURE PRODUCTS
          p#more click for more...
          br
          p#therest  
             we plan to create new products that will offer customers tools and accessories
             Inspired by the customer reviews and ideas, soon customers will see products on shelves in the coming weeks.
             We plan to bring new and better products for our company, these products include makeup brushes mirrors, makeup bags ect.
          

        .normal4
         h1 COMING SOON
         button#flip click for more info
         
         p#there As seen on Instagram, red lipstick has been getting the two-way treatment. This holiday season,
            get versatility out of our classic-red Retro Matte Liquid Lipcolour in Feels So Grand by toying with 
            textures for either a plush velvet matte or glitzy and glossy look that’s perfect for any occasion.
          
      
      
          