extends layout
block content
 .row
      .holder
        .large
          h1 GLITTER
          h2 EYE
        .normal 
          h1 BUNDLES
          h2 LIP
        .normal2
          h1 BRUSHEES
          h2 FACE
        .normal3
          h1 FUTURE PRODUCTS
          h2 click for more...
        .normal4
         h1 COMING SOON
         button#flip click for more info
         
         p#there is a software framework that is designed to support the development of web applications including web services,
           web resources, and web APIs. They are usually a set of libraries and tools that help to build a web app, it requires higher programming skills. 
           Offering more freedom for implementation from scratch, a web application framework is a perfect fit for experienced developers.

         
         
          
      
      
          